@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

@layer components {
    .title-s {
      @apply text-title-s
             md:text-title-s-md
             lg:text-title-s-lg;
    }
  
    .body-l {
      @apply text-body-l
             md:text-body-l-md;
    }
  
    .body-m {
      @apply text-body-m
             lg:text-body-m-lg;
    }
    .title-l {
        @apply text-title-l
               md:text-title-l-md;
      }
  }
  
  @layer utilities {
    .text-pretty {
      text-wrap: pretty;
    }
  }

.montserrat {
    font-family: "Montserrat", sans-serif;
}
:root {
    --sierra-grey-background-color: #F6F5F3;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --a-tag-color: rgb(98 94 91 / var(--tw-text-opacity));
    --filter-gray-250: brightness(0) invert(84%) sepia(7%) saturate(195%)
        hue-rotate(349deg) brightness(92%) contrast(84%);
    --mobile-responsive-heading: 7vw;
    --mobile-responsive-trusted-brand-width-height: 20vw;
    --filter-gray-250: brightness(0) invert(84%) sepia(7%) saturate(195%)
        hue-rotate(349deg) brightness(92%) contrast(84%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    font-family: "Montserrat", sans-serif;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

/* styles/globals.css or styles/yourComponent.module.css */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Adjust the translate value as needed */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease forwards; /* Adjust duration and easing as needed */
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Adjust the translate value as needed */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-in {
    animation: slideInFromTop 0.5s ease forwards; /* Adjust duration and easing as needed */
}

/* Add these styles for smooth transitions */
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@layer utilities {
    .text-regular {
      font-family: var(--font-regular);
      font-weight: 400;
      font-style: normal;
    }
  
    .text-regular-italic {
      font-family: var(--font-regular-italic);
      font-weight: 400;
      font-style: italic;
    }
  
    .text-medium-italic {
      font-family: var(--font-medium-italic);
      font-weight: 500;
      font-style: italic;
    }
  
    .text-medium {
      font-family: var(--font-medium);
      font-weight: 500;
      font-style: normal;
    }
  }
/* Font utility classes */
.font-regular {
    font-family: var(--font-regular);
    font-weight: 400;
    font-style: normal;
  }
  
  .font-regular-italic {
    font-family: var(--font-regular-italic);
    font-weight: 400;
    font-style: italic;
  }
  
  .font-medium {
    font-family: var(--font-medium);
    font-weight: 500;
    font-style: normal;
  }
  
  .font-medium-italic {
    font-family: var(--font-medium-italic);
    font-weight: 500;
    font-style: italic;
  }
  /* Typography variants */
.body-s {
    font-family: var(--font-regular); /* Using the regular font by default */
    font-size: 14px;
    line-height: 1.25;
  }
  
  .body-s.italic {
    font-family: var(--font-regular-italic);
  }
  
  .body-s.medium {
    font-family: var(--font-medium);
  }
  
  .body-s.medium.italic {
    font-family: var(--font-medium-italic);
  }

